<!DOCTYPE html>
<html>
{% load static %}
<head>
<title>about us</title>
<link rel="stylesheet" href="{% static 'aboutstyle.css' %}">

</head>
<body>
<center>
<header class="back">
<h1><font color="white"><u>ABOUT US</u></font></h1>
<p class="h">MNR College is an institution of higher learning dedicated to global enrichment<br> 
and meeting the evolving needs of our diverse communities.<br>

With an emphasis on innovative programs, dynamic curriculum and general education<br>
skills, we are committed to being a pioneer in the field of career-focused education.<br>

We empower our students, faculty and staff to exceed the expectations of society through<br>
academic excellence, community enrichment and service to the public good.</p><br>
<img src="https://images.unsplash.com/photo-1571260899304-425eee4c7efc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
<p class="h">Wherever there’s a MNR College campus, you’ll find us actively involved with the community.<br>
 Whether dedicating time to local volunteer opportunities, donating meeting space to local<br>
 organizations, hosting a virtual career fair that’s free to the public or serving as the hub<br>
 for a neighborhood fundraiser, we believe in supporting the communities we serve.</p><br>
<img src="https://images.unsplash.com/photo-1524178232363-1fb2b075b655?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
<p class="h">At BestColleges, we understand that what makes a college the "best" looks<br> 
different to every student, and each college search comes with its own unique challenges.<br> 
This is why we aim to help prospective students find the schools that best meet their needs<br> 
through proprietary research, user-friendly guides, and hundreds of independent college rankings.<br>
</p>

<img src="https://images.unsplash.com/photo-1541339907198-e08756dedf3f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
</header>

</center>


</body>
</html>